@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f5gkbw');
  src:  url('fonts/icomoon.eot?f5gkbw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f5gkbw') format('truetype'),
    url('fonts/icomoon.woff?f5gkbw') format('woff'),
    url('fonts/icomoon.svg?f5gkbw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
  content: "\e910";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-location:before {
  content: "\e947";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-yelp:before {
  content: "\ead7";
}
