body{
	background-color: #f3f5f7;
}
header{
	width: 1300px;
	height: 100px;
	margin: 0 auto;
	padding-top: 30px;
}
/*logo部分*/
.logo{
	width: 195px;
	height: 42px;
	float: left;
}
.logo a{
	display: block;
	width: 195px;
	height: 42px;
	background: url("../images/logo.png")  no-repeat;
	text-indent: -990px; /*隐藏标题*/
	overflow: hidden;/*隐藏标题*/
}
/*nav部分*/
nav{
	float: left;
	margin-left: 20px;
}
nav li{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}
nav li a{
	display: block; /*a标签是行内元素，一定要转换为块元素，否则给高无效*/
	font-size: 18px;
	height: 40px;
	padding: 0 5px;
}
nav li a:hover{
	border-bottom: 2px solid #00a4ff;
}
.search{
	width: 410px;
	height: 40px;
	float: left;
	margin-left: 205px;
}
/*搜索部分*/
.search input{
	width: 361px;
	height: 40px;
	border: 1px solid #00a4ff;
	outline: none; /*清除默认的搜索框轮廓线*/
	padding-left: 10px;
	float: left;
}
.search button{
	width: 49px;
	height: 40px;
	border: 0;
	outline: none;
	float: left;
	background: url("../images/fa-search.png") no-repeat;
}
.personal{
	float: right;
	height: 40px;
	line-height: 40px;
}
.personal dt,.personal dd{
	float: left;
}
.personal s{
	position: relative;
	padding: 0 20px;
	text-decoration: none;
}
.personal s::before{
	content: "";
	display: block; /*因为伪元素默认的是行内元素*/
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 15px;
}
.personal dd span img{
	border-radius: 50%;
	margin-right: 10px;
	transition: all 1s;
}
.personal  span img:hover{
	transform: rotate(360deg);
}
.banner{
	height: 420px;
	background-color: #1c036c;
}
.inner{
	height: 420px;
	position: relative;
}
.subnav{
	position: absolute;
	width: 190px;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	padding-top: 20px;
}
.subnav li{
	padding-left: 20px;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.subnav a{
	font-size: 14px;
	color: #ffffff;
	display: block;
}
.subnav span{
	position: absolute;
	top: 0;
	right: 20px;
}
.subnav li a:hover{
	color: #00b4ff;
}
.circle{
	width: 175px;
	height: 20px;
	position: absolute;
	left: 50%;
	/*margin-left: -88px; 等价于下面那个*/
	transform: translate(50%);
	bottom: 15px;

}
.circle i{
	font-style: normal;
	display: inline-block;
	width: 13px;
	height: 13px;
	background: rgba(255,255,255,0.4);
	border-radius: 6px;
	margin: 0 5px;
	cursor: pointer;
	transition: all 0.4s; /*过度特效*/
}
.circle i:hover{
	width: 20px;
	background-color: #ffffff;
}
.timebook{
	width: 228px;
	height: 300px;
	background-color:#ffffff;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%); /*等价于下面的写法，但是Y一定要大写*/
	/*transform: translate(0,-50%);*/
}
.timebook dt{
	height: 50px;
	background-color: #9bceea;
	font-weight: 700;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
}
.timebook dd{
	padding: 15px 20px 0;
}
.timebook dd li{
	height: 60px;
	border-bottom: 1px solid #cccccc;
	padding-top: 6px;
}
.timebook dd li:last-child{
	border: 0;
}
.timebook h5{
	font-size: 16px;
	font-weight: normal;
}
.all{
	display: block;
	height: 40px;
	border: 1px solid #22b0ff;
	color: #22b0ff;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}
.all:hover{
	background-color: #22b0ff;
	color: #ffffff;
}
.recommend{
	margin-top: 10px;
	background-color: #ffffff;
	height: 60px;
	line-height: 60px;
	position: relative;
	box-shadow: 4px 7px 13px rgba(0, 0, 0, .3);
}
.recommend .rec-l{
	padding-left: 30px;
}
.recommend em{
	position: absolute;
	right: 20px;
	bottom: 0;
}
.recommend a{
	margin: 0 15px;
	font-size: 14px;
}
.recommend strong{
	font-size: 14px;
	color: #22b0ff;
	margin-right: 15px;
}
.products{
	margin-top: 30px;
}
.products .pro-hd{
	height: 40px;
	position: relative;
}
.pro-hd h4{
	font-size: 18px;
	font-weight: normal;
}
.pro-hd a{
	position: absolute;
	top: 0;
	right: 20px;
}
.pro-bd li{
	width: 228px;
	height: 270px;
	background-color: #ffffff;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	transition: all 0.4s;
}
.pro-bd li:hover {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
	transform: translateY(-10px);
}
.pro-bd li:nth-child(5n){
	margin-right: 0;
}
.pic img {
	transition: all 0.4s;
}
.pic img:hover {
	margin-left: -5px;
}
.pro-title {
	width: 185px;
	margin: 20px auto;
	font-size: 14px;
	color: #050505;
}
.pro-bd p {
	width: 185px;
	margin: 20px auto;
	color: #999;
}
.pro-bd p span {
	color: #ff7c2d;
}
footer {
	height: 420px;
	background-color: #FFF;
	margin-top: 30px;
	padding-top: 30px;
}
.footer-l {
	margin-left: 20px;
	float: left;
}
.footer-l p {
	margin: 25px 0 15px 0;
	line-height: 24px;
}
.footer-l a {
	width: 120px;
	height: 35px;
	display: block;
	border: 1px solid #22b0ff;
	text-align: center;
	line-height: 35px;
	color: #22b0ff;
}
.footer-r {
	float: right;
}
.footer-r dl {
	float: left;
	margin-left: 130px;
}
.footer-r dl dt {
	font-size: 14px;
	color: #333;
	height: 30px;
}
.footer-r dd {
	height: 20px;
}